<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moviegetter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.MGApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".ui.MainActivity2"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.activity.MovieDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ipz.activity.IPZActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.SettingActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.ipz.activity.IPZDetailActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.ipz.activity.IPZPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ipz.activity.IPZPicDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.event.EventActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.VersionService" />
        <service
            android:name=".service.SpiderService"
            android:process=":spider" />
        <service android:name=".service.SpiderServiceLocal" />

        <activity
            android:name=".test.TestActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.main.activity.VersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.activity.MovieListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aac.RedditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ipz.activity.IPZActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.player.PlayVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.download.DownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.web.WebViewActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>